<p>example-ng-content works!</p>

<!-- Matches the class of the element from parent class been passed and then pushes it into ng-content -->
<ng-content select=".header-child"></ng-content>
<!-- Matches the element from parent class and then pushes it into ng-content -->
<ng-content select="h2"></ng-content>
<!-- Matches the id of the element from parent class been passed and then pushes it into ng-content -->
<ng-content select="#iamId"></ng-content>
<!-- Matches the element from parent class and then pushes it into ng-content value is visible in Parent -->
<ng-content select="input"></ng-content>
